{
  "type": "service_account",
  "project_id": "minerwallet",
  "private_key_id": "0a999aaa99a99a9999a80eee1234567890aa999",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkq.......\n-----END PRIVATE KEY-----\n",
  "client_email": "mycacminer@minerwallet.iam.gserviceaccount.com",
  "client_id": "999999999999999999",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/cacminergoogledrive%40myminerwallet.iam.gserviceaccount.com"
}

